@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.article {
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  position: relative;
  background-color: #eee;
}

.article-image1 {
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}

.article-image2 {
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}

.article-image3 {
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}

.step-tag {
  color: #fff;
  background-color: #ff9a4b;
  padding: 3px;
  position: absolute;
  top: 0;
  left: 0;
}

.article:last-child {
  margin-right: 0;
}

.title {
  margin: 15px 0 5px;
}

footer {
  background-color: #aaa;
  height: 50px;
}

@media screen and (max-width: 768px) {
  main {
    width: 100%;
    display: block;
  }

  .article {
    width: 90%;
    margin: 0 auto 20px;
  }

  .article:last-child {
    margin-bottom: 0;
    margin-right: 5%;
  }
}
